{% extends 'layout.html' %}

{% block content %}
{% for pitch in productpitch %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + pitch.author.image_file)}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ pitch.author.username }}</a>
      <small class="text-muted">{{ pitch.pub_date.strftime('%Y/%m/%d')}}</small>
    </div>
    <h2><a class="article-title" href="{{ url_for('pitches.new_comment', pitch_id=pitch.id)}}">{{ pitch.title }}</a></h2>
    <p class="article-content">{{ pitch.content }}</p>
    <div>
      <a href="{{url_for('pitches.new_comment', pitch_id = pitch.id)}}"><button><i class="fa fa-comments"></i></button></a>
      <a href="{{url_for('pitches.upvote', pitch_id = pitch.id)}}"><button><i class="fa fa-thumbs-up">{{ pitch.upvotes.count() }}</i> </button></a>
      <a href="{{url_for('pitches.downvote', pitch_id = pitch.id)}}"><button><i class="fa fa-thumbs-down">{{ pitch.downvotes.count() }}</i></button></a>
    </div>
  </div>
</article>
{% endfor %}
{% endblock content %}